body {
  color: #39414B;
  font-family: 'Helvetica';
  background: #EFEFEF;
}

a {
  color: #39414B;
  text-decoration: none;
}

input, button {
  font-size: 20px;
  color: #39414B;
  background-color: #EFEFEF;
  padding: 0.3em;
  margin: 0.6em;
  border: solid #39414B;
  text-decoration: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #39414B;
}

:-moz-placeholder {
  color: #39414B;
}

::-moz-placeholder {
  color: #39414B;
}

:-ms-input-placeholder {
  color: #39414B;
}

button:hover {
  cursor: pointer;
}


/*HEADER*/

.page-header {
  font-size: 40px;
  text-align: center;
  padding: 1em 0em;
  border-bottom: solid 3px #39414B;
  position: relative;
}

.header-link-left {
  padding: 1em 0em 1em 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.page-name {
  display: inline;
}

.header-link-right {
  padding: 1em 5% 1em 0em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

/*PAGE*/

.page {
  padding: 1em;
  text-align: center;
}


/*APPOINTMENT LIST PAGE*/

.appt-list {

}

.appt-search {
  text-align: center;
  min-width: 12em;
  width: 40%;
}

.appt {
  background-color: #EFEFEF;
  margin-top: 1.2em;
  margin-right: auto;
  margin-left: auto;
  border: solid 3px #39414B;
  max-width: 700px;
  text-align: left;
  position: relative;
}

.appt a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.appt div {
  display: inline-block;
  padding: 0.6em 0.3em;
  vertical-align: top;
}

.appt-name-div {
  font-size: 20px;
  width: 150px;
  text-align: left;
  word-wrap: break-word;
}

.appt-address-div {
  line-height: 1.3em;
}

.appt-time-div {
  line-height: 1.3em;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.appt-list-item {
  padding: 0.2em;
  text-align: left;
}

.appt-list-name {
  font-weight: bold;
}


/*APPOINTMENT DETAILS PAGE*/

.appt-info-details {
  font-size: 32px;
  margin: 0.5em 0em;
}

.appt-details-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.7em;
}

.appt-details-date {
  margin-top: 0.7em;
}

.weather-data {
  font-size: 32px;
  margin: 0.7em 0em 0.5em 0em;
}

.weather-icon {
  margin-left: 0.6em;
  height: 32px;
}

/*PICKADATE*/

.picker {
  margin-right: auto;
  margin-left: auto;
  outline: none;
}

.picker__holder {
  margin-right: auto;
  margin-left: auto;
  outline: none;
}

.picker__frame {
  outline: none;
}

.picker__list {
  padding-top: 1em;
}

.picker__list-item {
  border: solid 3px #39414B;
  padding: 0.2em;
  margin: 0.3em;
  text-align: center;
}
