<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Appointments</title>
    <link rel="stylesheet" href="css/meyer_css_reset.css"
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <main class="main-content">
    </main>

      <!--404-->

      <script id="404" type="text/html">
        <header>
          <h1 >404 not found</h1>
        </header>
        <div>
          <a href="#appts">View all appointments</a>
        </div>
      </script>

      <!--Appointment List-->

      <script type="text/html" id="appt-list">
        <div>
          <span>Icon</span>
          <h1>Appointments</h1>
          <a href="#appts/new">+</a>
        </div>
        <div>
          <input type=search>
          <ul name="appt-list">
            <% for (key in m) { %>
            <a href="#appts/<%- m[key].name%>/details">
              <li name="appt">
                <span><%- m[key].name%></span>
                <span><%- m[key].street%></span>
                <span><%- m[key].city%></span>
                <span><%- m[key].state%></span>
                <span><%- m[key].date%></span>
                <span><%- m[key].time%></span>
              </li>
            </a>
            <% } %>
          </ul>
        </div>
      </script>

      <!--Appointment Details-->

      <script type="text/html" id="appt-details">
        <div>
          <a href="#appts">&larr;</a>
          <h1>Details</h1>
          <a href="#appts/<%-m.name%>/edit">Edit</a>
        </div>
        <div>
          <span><%-m.name%></span><br>
          <span><%-m.street%></span><br>
          <span><%-m.city%></span><br>
          <span><%-m.state%></span><br>
          <span><%-m.time%></span><br>
          <span><%-m.date%></span>
        </div>

      </script>

      <!--New-->

      <script type="text/html" id="appt-new">
        <div>
          <a href="#appts">&larr;</a>
          <h1>New Appointment</h1>
        </div>
        <div>
          <form name="appt-form">
            <div>
              <input name="name" type="text" placeholder="Name" required>
            </div>
            <div>
              <input name="street" type="text" placeholder="Street" required><br>
              <input name="city" type="text" placeholder="City" required>
              <input name="state" type="text" placeholder="State" required>
            </div>
            <div>
              <input name="date" type="text" placeholder="Date" required>
            </div>
            <div>
              <input name="time" type="text" placeholder="Time" required>
            </div>
            <div>
              <button>Save</button>
            </div>
          </form>
        </div>
      </script>

      <!--Edit-->

      <script type="text/html" id="appt-edit">
        <div>
          <a href=#appts>&larr;</a>
          <h1>Edit Appointment</h1>
        </div>
        <div>
          <form name="appt-form">
            <div>
              <input name="name" type="text" placeholder="Name" value="<%- m.name %>" required>
            </div>
            <div>
              <input name="street" type="text" placeholder="Street" value="<%- m.street %>" required><br>
              <input name="city" type="text" placeholder="City" value="<%- m.city %>" required>
              <input name="state" type="text" placeholder="State" value="<%- m.state %>" required>
            </div>
            <div>
              <input name="date" type="text" placeholder="Date" value="<%- m.date %>" required>
            </div>
            <div>
              <input name="time" type="text" placeholder="Time" value="<%- m.time %>" required>
            </div>
            <div>
              <button name="save-appt">Save</button>
              <button name="delete-appt">Delete</button>
            </div>
          </form>
        </div>
      </script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="js/app.js"></script>
    <script src="js/router.js"></script>
    <script src="js/goto.js"></script>
    <script src="js/show.js"></script>
    <script src="js/appt.js"></script>
    <script src="js/serialize-form.js"></script>
    <script src="js/object_store.js"></script>
    <script src="js/appts_controller.js"></script>
    <script src="js/new_controller.js"></script>
    <script src="js/edit_controller.js"></script>
    <script src="js/appt_details_controller.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
